#!/bin/bash

set -o errexit -o nounset -o pipefail

while IFS= read -r -d '' line; do
    '{{ python3_path }}' '{{ avscan_path }}' "$line"
done < <(cat {{ avwatch_config_path }} | tr '\n' '\0' | xargs -0 '{{ fswatch_path }}' --print0 --event Created --event Updated --event MovedTo)
